{% extends 'main/base.html.twig' %}
	
{% block content %}
	<div class="page-content bg-white">
		
		<section class="error-page-1 overflow-hidden">
			<div class="banner-gradient"></div>
			<div class="container">
				<div class="inner-content text-center">
					<h1 class="dz_error wow fadeInUp" data-wow-delay="0.4s">4<span><i class="flaticon flaticon-kettlebell"></i></span>4</h1>
					<h2 class="error-head wow fadeInUp" data-wow-delay="0.6s">Oops, Page Not Found !</h2>
					<p class="text wow fadeInUp" data-wow-delay="0.8s">We are sorry. But the page you are looking for cannot be found.</p>
					<div class="read-btn">	
					<a class="btn btn-primary btn-skew wow fadeInUp m-b15" data-wow-delay="1.0s" href="index.html"><span class="skew-inner"><span class="text m-0">Back Go Home</span></span></a>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
{% endblock %}