.head-background
{
     -fx-background-color: linear-gradient(to right, #00aaff, #005f7a)
;
}
.degrade-diagonal {
     -fx-background-color: linear-gradient(to bottom right, gray, darkgray);
}

.degrade-diagonal2 {
     -fx-background-color: linear-gradient(to bottom right, lightgray, floralwhite);
}

.border-table {
     -fx-border-radius: 30px;
     -fx-background-radius:  30px;
}

.blue-button {
     -fx-background-color: #007bff;
     -fx-text-fill: #ffffff;
}
.blue_forMediaBackground {
     -fx-background-color: #1F75FE;
}
.blue-button:hover {
     -fx-background-color: #0069d9;
}


.transparent {
     -fx-background-color: transparent;
}

.label-style {
     -fx-text-fill: black;
     -fx-font-weight: bold;

}

.text {
     -fx-text-fill: white;
     -fx-font-size: 14px;
}


.title-style {
     -fx-text-fill: gray;
     -fx-font-weight: bold;
     -fx-alignment: center;
}

.textFiedl {
     -fx-text-fill: white;
}
