.event-single{
	.dz-media{
		margin-bottom:30px;
	}
	.dz-info{
		h1{
			font-size:40px;
			font-style: italic;
			margin-bottom:10px;
			font-weight: 700;
		}
	}
	.event-text{
		margin-bottom:30px;
		font-size:16px;
		font-weight:400;
	}
	.event-text{
		margin-bottom:30px;
		font-size:16px;
		font-weight:400;
	}
	.title{
		font-size:24px;
		font-style:italic;
		margin-bottom:10px;
		font-weight:700;
	}
}
.sidebar-title{
	font-size:24px;
	color: #000;
	font-weight: 700;
	letter-spacing: 2.4px;
	text-transform: uppercase;
	margin-bottom:25px;
}