#event_detailsTableView {
    -fx-background-color: #f5f5f5; /* Light gray background */
}

#event_detailsTableView .table-row-cell {
    -fx-background-color: #ffffff; /* White background for each row */
    -fx-border-color: #d3d3d3; /* Light gray border for each row */
    -fx-border-width: 0 0 1 0; /* Border at the bottom of each row */
    -fx-padding: 10px; /* Padding around each row */
}

#event_detailsTableView .table-row-cell:filled:selected {
    -fx-background-color: #add8e6; /* Light blue background for selected row */
}

#event_detailsTableView .table-row-cell:empty {
    -fx-border-color: transparent; /* No border for empty rows */
}

#event_detailsTableView .table-cell {
    -fx-font-size: 18px; /* Font size for cell text */
    -fx-font-weight: bold; /* Bold font for cell text */
    -fx-text-fill: #000000; /* Black color for cell text */
}

#delete_id {
    -fx-background-color: #ff4d4d; /* Red background */
    -fx-text-fill: #fff; /* White text */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-padding: 5px 10px; /* Padding around text */
    -fx-font-weight: bold; /* Bold text */
    -fx-cursor: hand; /* Hand cursor on hover */
}

#delete_id:hover {
    -fx-background-color: #ff1a1a; /* Darker red background on hover */
}
#kick_id
{
    -fx-background-color: #ff4d4d; /* Red background */
    -fx-text-fill: #fff; /* White text */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-padding: 5px 10px; /* Padding around text */
    -fx-font-weight: bold; /* Bold text */
    -fx-cursor: hand; /* Hand cursor on hover */
}
#kick_id:hover
{
    -fx-background-color: #ff1a1a; /* Darker red background on hover */
}
#edit_id
{
    -fx-background-color: #4d79ff; /* Blue background */
    -fx-text-fill: #fff; /* White text */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-padding: 5px 10px; /* Padding around text */
    -fx-font-weight: bold; /* Bold text */
    -fx-cursor: hand; /* Hand cursor on hover */
}
#edit_id:hover
{
    -fx-background-color: #1a53ff; /* Darker blue background on hover */
}

#ajouter_id
{
    -fx-cursor: hand; /* Hand cursor on hover */
}
#editeventconfirm_id
{

    -fx-cursor: hand; /* Hand cursor on hover */
}
#editeventconfirm_id1
{
    -fx-cursor: hand; /* Hand cursor on hover */
}
#points_label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: -color-fg-default;
    -fx-padding: 10px;
    -fx-alignment: center;
}

#title_events {
    background: linear-gradient(to right, #00aaff, #00627f);
}
#join_id
{

    -fx-cursor: hand; /* Hand cursor on hover */
}
    #list_events .list-cell:empty {
        -fx-border-width: 0;

            -fx-background-color: transparent;
    }

#list_events1 .list-cell:empty {
    -fx-border-width: 0;

    -fx-background-color: transparent;
}
#eventList .list-cell:empty {
    -fx-border-width: 0;

    -fx-background-color: transparent;
}

#join_id:hover
{
    -fx-background-color: Green; /* Darker blue background on hover */
}
#rewards {
    -fx-background-color: gold; /* Golden background */
    -fx-text-fill: #fff; /* White text */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-padding: 5px 10px; /* Padding around text */
    -fx-font-weight: bold; /* Bold text */
    -fx-cursor: hand; /* Hand cursor on hover */
    /* Add a border around the text */
    -fx-border-color: darkgoldenrod;
    -fx-border-width: 2px;

    -fx-alignment: center;
    /*change text size*/
    -fx-font-size: 15px;
}

#rewards:hover {
    -fx-background-color: darkgoldenrod; /* Darker golden background on hover */
}

#events
{
    -fx-background-color: #4d79ff; /* Blue background */
    -fx-text-fill: #fff; /* White text */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-padding: 5px 10px; /* Padding around text */
    -fx-font-weight: bold; /* Bold text */
    -fx-cursor: hand; /* Hand cursor on hover */
}
#events:hover
{
    -fx-background-color: #1a53ff; /* Darker blue background on hover */
}
#countdownLabel {
    -fx-font-family: "Arial"; /* Change the font to Arial */
    -fx-font-size: 12px; /* Increase the font size to 20px */
    -fx-text-fill: #ff0000; /* Change the text color to red */
     /* Light gray background */
    -fx-padding: 10px; /* Padding around the text */
    /* Add a border around the text */

    -fx-alignment: center; /* Center align the text */


}
#event_detailsTableView
{
    -fx-background-color: #f5f5f5; /* Light gray background */

}
#event_detailsTableView .table-row-cell {
    -fx-background-color: #ffffff; /* White background for each row */
    -fx-border-color: #d3d3d3; /* Light gray border for each row */
    -fx-border-width: 0 0 1 0; /* Border at the bottom of each row */

}
#event_detailsTableView .table-row-cell:filled:selected {
    -fx-background-color: #add8e6; /* Light blue background for selected row */
}
#event_detailsTableView .table-row-cell:empty {
    -fx-border-color: transparent; /* No border for empty rows */
}
#event_detailsTableView .table-cell {
    -fx-font-size: 18px; /* Font size for cell text */
    -fx-font-weight: bold; /* Bold font for cell text */
    -fx-text-fill: #000000; /* Black color for cell text */
}
#title_events {
    background: linear-gradient(to right, #00aaff, #00627f);
}




