.table-view {
    -fx-background-color: #f5f5f5;
    -fx-table-cell-border-color: transparent;





}



.table-row-cell:filled:selected {
    -fx-background-color: #add8e6; /* Light blue background */
}




.table-cell {
    -fx-text-fill: #000;
    -fx-alignment: CENTER;
    -fx-padding: 5px 10px;
}

#delete_id {
    -fx-background-color: #ff4d4d; /* Red background */
    -fx-text-fill: #fff; /* White text */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-padding: 5px 10px; /* Padding around text */
    -fx-font-weight: bold; /* Bold text */
    -fx-cursor: hand; /* Hand cursor on hover */
}

#delete_id:hover {
    -fx-background-color: #ff1a1a; /* Darker red background on hover */
}
#kick_id
{
    -fx-background-color: #ff4d4d; /* Red background */
    -fx-text-fill: #fff; /* White text */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-padding: 5px 10px; /* Padding around text */
    -fx-font-weight: bold; /* Bold text */
    -fx-cursor: hand; /* Hand cursor on hover */
}
#kick_id:hover
{
    -fx-background-color: #ff1a1a; /* Darker red background on hover */
}
#edit_id
{
    -fx-background-color: #4d79ff; /* Blue background */
    -fx-text-fill: #fff; /* White text */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-padding: 5px 10px; /* Padding around text */
    -fx-font-weight: bold; /* Bold text */
    -fx-cursor: hand; /* Hand cursor on hover */
}
#edit_id:hover
{
    -fx-background-color: #1a53ff; /* Darker blue background on hover */
}
.list-view {
    -fx-background-color: #f2f2f2;
    -fx-padding: 10;
}

.list-cell {
    -fx-background-color: white;
    -fx-border-color: #333333;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 10;
}

.list-cell:filled:selected {
    -fx-background-color: #ADD8E6;
}
.list-cell:empty {
    -fx-border-color: transparent;
}
#ajouter_id
{
    -fx-background-color: #4d79ff; /* Blue background */
    -fx-text-fill: #fff; /* White text */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-padding: 5px 10px; /* Padding around text */
    -fx-font-weight: bold; /* Bold text */
    -fx-cursor: hand; /* Hand cursor on hover */
}
#editeventconfirm_id
{
    -fx-background-color: #4d79ff; /* Blue background */
    -fx-text-fill: #fff; /* White text */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-padding: 5px 10px; /* Padding around text */
    -fx-font-weight: bold; /* Bold text */
    -fx-cursor: hand; /* Hand cursor on hover */
}
#editeventconfirm_id1
{
    -fx-background-color: #ff1a1a; /* Blue background */
    -fx-text-fill: #fff; /* White text */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-padding: 5px 10px; /* Padding around text */
    -fx-font-weight: bold; /* Bold text */
    -fx-cursor: hand; /* Hand cursor on hover */
}

