{% extends "main/base.html.twig" %}

{% block content %}

<div class="page-content bg-white">
		
		<!-- Banner  -->
		<div class="dz-bnr-inr style-2" style="background-image: url('{{asset('main/images/banner/banner-2.png')}}')">
			<div class="banner-gradient"></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="dz-bnr-inr-entry">
							<h1>Payment Success!</h1>
							<!-- Breadcrumb Row -->
							<nav aria-label="breadcrumb" class="breadcrumb-row">
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Home</a></li>
									
									<li class="breadcrumb-item active" aria-current="page">Payment Success!</li>
								</ul>
							</nav>
							<!-- Breadcrumb Row End -->
						</div>
					</div>
				</div>	
				<div class="banner-media">
					<img src="{{asset('main/images/banner/pic4.png')}}" alt="/">
				</div>
			</div>	
		</div>

		<br>
		<a href="{{ path('app_produit_index') }}" class="btn btn-primary btn-skew appointment-btn" ><span class="skew-inner"><span class="text">back to list</span></span></a>
		<br>
		<br>
		
        <h1>Thanks for your order!</h1>
        <p>
            We appreciate your business!
            If you have any questions, please email
            <a href="mailto:orders@example.com">GymPlus@example.com</a>.
        </p>
		
</div>




{% endblock %}