{{ form_start(form) }}
<div class="mb-3">
    {{ form_widget(form.content, {'attr': {'class': 'form-control', 'placeholder': 'express your thoughts'}}) }}
</div>
<button class="btn btn-primary m-b15 w-100">
    {{ button_label|default('Save') }}
</button>
{{ form_end(form) }}
