// button
button:hover,
button:active,
button:focus {
    outline: 0;
}
.btn{
   padding: 10.5px 25px;
    font-size: 16px;
    font-weight: 500;
	border-radius:0;
	position: relative;
	line-height: 1.5;
	align-items: center;
	@include transitionFast;
	display: inline-flex;
	color:#fff;
	justify-content: center;
	
	@include custommq($max: 1199px) {
		padding: 8px 20px;
		font-size: 15px;
	}
	@include respond('phone'){
		font-size: 14px;
		padding: 7px 16px;
	}
	&.btn-sharp{
		border-radius: 0;
	}
	&.btn-lg{
		padding: 12px 30px;
		line-height: 24px;
		font-size: 16px;
		
		@include respond('tab-port'){
			padding: 12px 25px;	 
		}
		@include respond('phone-land'){
			padding: 10px 20px;	
			font-size: 14px;
		}
	}

	&.btn-primary{
		color: var(--theme-text-color);
		
		&:hover{
			color: var(--theme-text-color);
		}
	}
	i{
		font-size: 18px;
		line-height: 1;
		margin-left:10px;
	}
	&.btn-skew{
	    border-radius: 0;
	    border: 0;
	    margin-left: 5px;
	    margin-right: 12px;
	    transform: skewX(-12deg);
		
		.skew-inner{
			display: block;
			position: relative;
			overflow: hidden;
			transform: skewX(12deg);
		}
		.text{
			padding: 0;
			display: block;
			position: relative;
		}
		&:hover{
			.text{
				animation: skew-text 0.3s forwards;
				will-change: transform;
			}
		}
		&::after{
			content: "";
			position: absolute;
			background-color: inherit;
			height: 100%;
			width: 7px;
			right: -12px;
			z-index: 1;
			top: 50%;
			transform: translateY(-50%);
		}
		&.btn-sm{
			font-size: 14px;
			padding: 8px 20px;
			
			&:after{
				width: 5px;
				right: -9px;
			}
		}
		@keyframes skew-text{
			from{
				transform: translateX(0%);
			}
			50%{
				transform: translateX(-80%);
			}
			51%{
				transform: translateX(80%);
			}
			100%{
				transform: translateX(0%);
			}
		}
	}
	&.btn-skew-2 {
	    border-radius: 0;
	    border: 0;
		z-index: 1;
	    overflow: hidden;
	    background-color: transparent;
		
		&:hover {
			background-color: transparent;
		}
		&:active,
		&:focus{
			background-color:transparent!important;
		}
	}
	i{
		margin-right:10px;
	}
}
.btn-block{
	display:block;
	width:100%;
}

.shadow-primary{
	box-shadow: 0px 5px 30px 0px var(--rgba-primary-2);
}
.btn-rounded{
	border-radius:50px;
}
.btn-info{
	color:#fff;
	&:hover{
		color:#fff;
	}
	.btn-icon-left{
		color: $info;
	}
}
.btn-white{
	background-color:#fff;
	color:#222;
	&:hover{
		color:#222 !important;
		background-color:#fff !important;
	}
}
.btn-success{
	color:$white;
	
	.btn-icon-left{
		color: $success;
	}
	&:hover{
		color:$white;
	}
}
.btn-primary{
	border-color:var(--primary);	
	background-color:var(--primary);
	&.disabled,
	&:disabled,
	&:not(:disabled):not(.disabled).active, 
	&:not(:disabled):not(.disabled):active, 
	&:active,
	&:focus,
	&:hover{
		border-color:var(--primary-hover);	
		background-color:var(--primary-hover);	
	}
	.btn-icon-left{
		color: var(--primary);
	}
}
.btn-secondary{
	border-color:var(--secondary);	
	background-color:var(--secondary);
	color:#fff;
	
	&:hover,
	&:focus,
	&:active{
		border-color:var(--secondary);	
		background-color:var(--secondary);
		color:#fff;
	}
	
	.btn-icon-left{
		color: var(--secondary);
	}
}
.btn-link{
	color:var(--primary);
	text-decoration: none;
	
	&:hover{
		color:var(--primary-hover);	
	}
}
.btn-underline {
	font-size: 1rem;
	color: var(--primary);
	font-weight: 400;
	border-bottom: 2px solid var(--primary);

}
.btn-dark{
	color:#fff !important;
	border-color: var(--dark);
	background-color: var(--dark);
	
	&:hover,
	&:focus,
	&:active{
		color: #fff;
		background-color: var(--dark);
	}
	.btn-icon-left{
		color: $dark;
	}
	&.light{
		background-color: lighten(#151F37, 50);
		border-color: lighten(#151F37, 50);
		color: #151F37 !important;
		
		&:hover{
			color:#fff !important;
		}
	}
}
.btn-outline-primary {
	color:var(--primary-text);	
	border-color:var(--primary);
	
	&.disabled,
	&:disabled,
	&:not(:disabled):not(.disabled).active, 
	&:not(:disabled):not(.disabled):active, 
	&:active,
	&:focus,
	&:hover{
		border-color:var(--primary-hover);	
		background-color:var(--primary-hover);	
		color:$white;
	}
}
.btn-outline-secondary {
	color:var(--secondary);	
	border-color:var(--secondary);
	&.disabled,
	&:disabled,
	&:not(:disabled):not(.disabled).active, 
	&:not(:disabled):not(.disabled):active, 
	&:active,
	&:focus,
	&:hover{
		border-color:var(--secondary);	
		background-color:var(--secondary);	
		color:$white;
	}
}
.btn-outline-danger{
	color: $danger;
	&:hover{
		color: #fff;
	}
}
.btn-outline-info{
	color: $info;
	&:hover{
		color: #fff;
	}
}
.btn-outline-success{
	color: $success;
	&:hover{
		color: #fff;
	}
}
.btn-outline-warning{
	color: $warning;
	&:hover{
		color: #fff;
	}
}
.btn-outline-dark{
	color: $dark;
	&:hover{
		color: #fff;
	}
}

.btn-check:checked + .btn {
  color:#fff;
  
 }
.btn-xl {
    font-size: 22px;
    padding: 25px 35px;
}
.btn-sm {
    padding: 7px 12px;
    font-size: 12px;
	
}
.btn-link-lg{
	font-weight: 700;
	font-size: 18px;
	&:hover{
		text-decoration: unset;
	}
}
.btn-light{
	background-color: #ebebeb;
	color: $dark;
	
	&:hover{
		background-color: var(--primary);
		color: #000!important;
		border-color: transparent;
	}
	&.text-primary{
		&:hover{
			color: $white!important;
		}
	}
}
.light{
	&.btn-success {
		color: $success;
		border: 1px solid lighten($success, 45);
		background-color: lighten($success, 55);
		
		&:hover{
			background-color: $success;
			border-color: $success;
			color: #fff;
			
		}
	}
	&.btn-info {
		color: $info;
		border: 1px solid lighten($info, 39);
		background-color: lighten($info, 45);
		
		&:hover{
			background-color: $info;
			border-color: $info;
			color: #fff;
			
		}
	}
	&.btn-primary {
		color: var(--primary);
		border: 1px solid var(--rgba-primary-3);
		background-color: var(--rgba-primary-1);
		
		&:hover{
			background-color: var(--primary);
			border-color: var(--primary);
			color: #fff;
		}
	}
	&.btn-secondary {
		color: var(--secondary);
		border: 1px solid var(--rgba-secondary-3);
		background-color: var(--rgba-secondary-1);
		
		&:hover,
		&:active,
		&:focus{
			background-color: var(--secondary);
			border-color: var(--secondary);
			color: #fff;
		}
	}
	&.btn-warning {
		color: $warning;
		border: 1px solid lighten($warning, 32);
		background-color: lighten($warning, 38);
		
		&:hover{
			background-color: $warning;
			border-color: $warning;
			color: #fff;
			
		}
	}
	&.btn-danger {
		color: $danger;
		border: 1px solid lighten($danger, 42);
		background-color: lighten($danger, 45);
		
		&:hover{
			background-color: $danger;
			border-color: $danger;
			color: #fff;
			
		}
	}
	&.btn-dark {
		color: $dark;
		border: 1px solid lighten($dark, 70);
		background-color: lighten($dark, 75);
		
		&:hover{
			background-color: $dark;
			border-color: $dark;
			color: #fff;	
		}
	}
}
.btn-danger{
	color:$white;
}
.btn-icon{
	i{
		margin:0;
	}
}
.btn-icon-right{
	color: #fff;
    border-left: 1px solid rgba(255,255,255,0.3);
    display: inline-block;
    margin: -15px -10px -15px 20px;
    padding: 15px 10px;
}
.btn-icon-left{
	background: #fff;
    border-radius: 50px;
    display: inline-block;
    float: left;
    color: inherit;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: -8px 15px -8px -20px;
}

.wp-block-button{
	margin-bottom:0.3125rem;
}
.is-style-squared .wp-block-button__link{
	border-radius:0;
}
.wp-block-button__link{
	@extend .btn;
	@extend .btn-primary;
	border-radius:60px;
	
	&:after{
		content:none;
	}
}
.is-style-outline .wp-block-button__link{
	@extend .btn-outline-primary;
}

.btn-group{
	.btn{
		@include respond('phone'){
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

.btn-check{
	&:checked + .btn-outline{
		&-primary{
			background-color: var(--primary);
			border-color: var(--primary);
		}
		&-secondary{
			background-color: var(--secondary);
			border-color: var(--secondary);
		}
	}
	& + .btn-outline{
		&-primary{
			&:hover{
				background-color: var(--primary);
				border-color: var(--primary);
				color: #fff;
			}
		}
		&-secondary{
			&:hover{
				background-color: var(--secondary);
				border-color: var(--secondary);
				color: #fff;
			}
		}
	}
}

.btn-icon{
	padding: 0;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
	
	&.btn-sm{
		width: 28px;
		height: 28px;
		padding: 0;
		font-size: 12px;
	}
	&.btn-lg{
		font-size: 20px;
		height: 55px;
		width: 55px;
		padding: 0;
		
		i{
			font-size: 20px;
		}
	}
}
.btn[class*="btn-gradient-"]{
	border: 0;
}
.btn-outline-2{
	border-width: 2px;
}
.btn-outline-light{
	&:active,
	&:focus,
	&:hover{
		color: $dark;
	}
}
.dropdown-menu{
	box-shadow: 0 0 50px rgba(0,0,0,0.1);
    border: 0;
}
.btn-link{
    font-size: 16px;
}
.btn-link{
	font-family: var(--font-family-title);
    font-weight: 500;
	letter-spacing: 1px;
}
.link-underline{
	text-decoration: underline;
	
	&:hover{
		text-decoration: underline;
	}
}

@each $color-name, $color-value in $colors{
	.btn-#{$color-name}{
		background-color: $color-value;
		
		&:hover,
		&:focus,
		&:active{
			background-color: darken($color-value, 25%);
			color: #fff;
		}
		
		&.btn-shadow{
			box-shadow: 0 5px 10px 2px rgba($color-value, 0.23);
		}
		&.light{			
			background-color: lighten($color-value, 20%);
			border-color: lighten($color-value, 20%);
			color: $color-value;
			
			&:focus,
			&:active,
			&:hover{
				background-color: $color-value;
				border-color: $color-value;
				color: #fff;
			}
		}
	}
	.link-#{$color-name}{
		color: $color-value;
		
		&.link-underline{
			text-decoration-color: $color-value !important;
		}
	}
 	.btn-outline-#{$color-name}{
		border-color: $color-value;
		color: $color-value;
		
		&:hover,
		&:focus,
		&:active{
			color: #fff;
			background-color: $color-value;
		}
	}
	.shadow-#{$color-name}{
		box-shadow: 0 0 50px $color-value;
	}
	.btn-gradient-#{$color-name}{
		background: $color-value;
		background: -moz-linear-gradient(45deg, $color-value 0%, lighten($color-value, 15%) 100%);
		background: -webkit-linear-gradient(45deg, $color-value 0%, lighten($color-value, 15%) 100%);
		background: linear-gradient(45deg, $color-value 0%, lighten($color-value, 15%) 100%);
	}
}



// btn-hover-1
.btn-hover-1{
	overflow: hidden;
	z-index: 1;
	&::before,
	&::after{
		background: #fff;
		@include beforeAfter;
		
	}
	&::before{
		width: 120%;
		height: 0;
		padding-bottom: 120%;
		top: -110%;
		left: -10%;
		border-radius: 50%;
		transform: translate3d(0, 68%, 0) scale3d(0, 0, 0);
	}
	&::after{
		width: 90%;
		top: 0;
		left: 0;
		transform: translate3d(0, -100%, 0);
		transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
	}
	span{
		display: block;
		position: relative;
		z-index: 2;
		@include transitionMedium;
	}
	&.btn-white{
		&::before{
			background: var(--primary);
		}
		&::after{
			background: var(--primary);
		}
	}
	
	&:focus,
	&:active,
	&:hover{
		&::before{
			transform: translate3d(0, 0, 0) scale3d(1.2, 1, 1);
			transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
		}
		&::after{
			transform: translate3d(0, 0, 0);
			transition-duration: 0.05s;
			transition-delay: 0.4s;
			transition-timing-function: linear;
		}
		span{
			animation: MoveScaleUpInitial 0.3s forwards, MoveScaleUpEnd 0.3s forwards 0.3s;
			color: var(--primary);
		}
		&.btn-primary,
		&.btn-outline-primary{
			span{
				color: var(--primary);				
			}
		}
		&.btn-secondary,
		&.btn-outline-secondary{
			span{
				color: var(--secondary);
			}
		}
		&.btn-dark,
		&.btn-outline-dark{
			span{
				color: $dark;
			}
		}
		&.btn-white{
			span{
				color: $white;
			}
		}
	}
}

@keyframes MoveScaleUpInitial{
	to{
		transform: translate3d(0, -105%, 0) scale3d(1, 2, 1);
		opacity: 0;
	}
}
@keyframes MoveScaleUpEnd{
	from{
		transform: translate3d(0, 100%, 0) scale3d(1, 2, 1);
		opacity: 0;
	}
	to{
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

// btn-hover-2
.btn-hover-2{
    color: rgba(0,0,0,0) !important;
    transition: all .3s ease !important;
    text-shadow: 0 0 0 #000, 500px 0 0 #000;
	overflow: hidden;
	
	&.btn-white{
		text-shadow: 0 0 0 #000, 500px 0 0 #000;
	}
	&.btn-gray{
		text-shadow: 0 0 0 var(--title), 500px 0 0 var(--title);
	}
	&:hover{
		text-shadow: -600px 0 0 #fff, 0 0 0 #fff;
		
		&.btn-white{
			text-shadow: -600px 0 0 #000, 0 0 0 #000;
		}
		&.btn-gray{
			text-shadow: -600px 0 0 #fff, 0 0 0 #fff;
		}
	}
}

.btn-hover-3{
	overflow: hidden;
	span{
		transition: opacity .50s, transform .80s;
		transition-timing-function: cubic-bezier(.12,.80,.30,1);
		
		&::before{
			content: attr(data-text);
			position: absolute;
			white-space: nowrap;
			display: inline-block;
			top: 50%;
			left: 50%;
			opacity: 0;
			transform: translate(-50%, 100%);
			transition: opacity .5s, transform .8s;
			transition-timing-function: cubic-bezier(.12,.80,.30,1);
		}
	}
	&:hover{
		span{
			transform: translateY(-200%);
			
			&::before{
				transform: translate(-50%, 150%);
				opacity: 1;
			}
		}
	}
}


// btn-hover-4
.btn-hover-4{
	@include transitionMedium;
	position: relative;
	overflow: hidden;

	span {
		z-index: 2;	
		position:relative;
		display: block;
		width: 100%;
		height: 100%;
	}
	&:after{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		-webkit-transform: scale(1, 0.5);
		transform: scale(1, 0.5);
		@include transitionMedium;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--primary-dark);
	}
	&:hover{
		&:after{
			opacity: 1;
			-webkit-transform: scale(1, 1);
			transform: scale(1, 1);
		}
	}
	
}

// btn-hover-5
.btn-hover-5{
	@include transitionMedium;
	position: relative;
	overflow: hidden;

	span {
		z-index: 2;	
		position:relative;
		display: block;
		width: 100%;
		height: 100%;
	}
	&:before{
		content: '';
		position: absolute;
		top: 50px;
		left: -15%;
		width: 0;
		height: 0;
		border-left: 100px solid transparent;
		border-right: 100px solid transparent;
		border-bottom: 190px solid var(--primary-hover);
		z-index: 1;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}
	&:after{
		content: '';
		position: absolute;
		top: 50px;
		left:-15%;
		width: 0;
		height: 0;
		border-left: 100px solid transparent;
		border-right: 100px solid transparent;
		border-bottom: 190px solid var(--primary-dark);
		z-index: 1;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
		-webkit-transition-delay: 0.2s; /* Safari */
		transition-delay: 0.2s;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	&:hover{	
		background-color: var(--primary-hover) !important;
		
		&:before{
			opacity: 1;
			-webkit-transform: translate(0px,-190px);
			transform: translate(0px,-190px);
		}
		&:after{
			opacity: 1;
			-webkit-transform: translate(0px,-150px);
			transform: translate(0px,-150px);
		}
	}
	
}


// btn-hover-6
.btn-hover-6{
	@include transitionMedium;
	position: relative;
	overflow: hidden;
	span {
		z-index: 2;	
		position:relative;
		display: block;
		width: 100%;
		height: 100%;
	}
	&:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		opacity: 0;
		background-color:  var(--primary-dark);
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		-webkit-transform: scale(0.5,0.5);
		transform: scale(0.5,0.5);
		border-radius: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&:hover{
		&:after{
			opacity: 1 ;
			-webkit-transform: scale(1,1);
			transform: scale(1,1);
		}
	}
}

// btn-hover-7
.btn-hover-7{
	@include transitionMedium;
	position: relative;
	overflow: hidden;
	span {
		z-index: 2;	
		position:relative;
		display: block;
		width: 100%;
		height: 100%;
	}
	&:before,
	&:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background-color: rgba(255, 151 ,129 , 0.4);
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		-webkit-transform: translate(-100%,0);
		transform: translate(-100%,0);
		-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
		transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	}
	&:after{
		-webkit-transition-delay: 0.2s; /* Safari */
		transition-delay: 0.2s;
	}
	&.btn-primary{
		&:hover{
			&:before,
			&:after{
				background-color: var(--primary-dark);
			}
		}
	}
	&.btn-secondary{
		&:hover{
			&:before,
			&:after{
				background-color: var(--secondary-hover);
			}
		}
	}
	&:hover{
		&:before,
		&:after{
			-webkit-transform: translate(0,0);
			transform: translate(0,0);
		}
	}
}

// btn-hover-8
.btn-hover-8{
	@include transitionMedium;
	position: relative;
	overflow: hidden;
	span {
		z-index: 2;	
		position:relative;
		display: block;
		width: 100%;
		height: 100%;
	}
	&:after,
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background-color: rgba(255, 151 ,129 , 0.4);
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		-webkit-transform: translate(-13%,-190%) rotate(-30deg);
		transform: translate(-13%,-190%) rotate(-30deg);
		-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
		transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	}
	&:before{
		-webkit-transition-delay: 0.2s; /* Safari */
		transition-delay: 0.2s;
	}
	&.btn-primary{
		&:hover{
			&:before,
			&:after{
				background-color: var(--primary-dark);
			}
		}
	}
	&.btn-secondary{
		&:hover{
			&:before,
			&:after{
				background-color: var(--secondary-hover);
			}
		}
	}
	&:hover{
		&:before,
		&:after{
			-webkit-transform: translate(0,0);
			transform: translate(0,0);
		}
	}
}

// btn-hover-9
.btn-hover-9{
	@include transitionMedium;
	position: relative;
	overflow: hidden;
	span {
		z-index: 2;	
		position:relative;
		display: block;
		width: 100%;
		height: 100%;
	}
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		opacity: 1;
		-webkit-transform: translate(0,-105%);
		transform: translate(0,-105%);
		border-bottom-width: 2px;
		border-bottom-style: solid;
		border-bottom-color: rgba(255, 151 ,129 , 1);
		background-color: rgba(255, 151 ,129 , 0.4);
	}
	&.btn-primary{
		&:hover{
			&:before{
				background-color: var(--primary-dark);
			}
		}
	}
	&.btn-secondary{
		&:hover{
			&:before{
				background-color: var(--secondary-hover);
			}
		}
	}
	&:hover{
		&:before{
			opacity: 0;
			-webkit-transform: translate(0,0);
			transform: translate(0,0);
		}
	}
}

// btn-hover-10
.btn-hover-10{
	@include transitionMedium;
	position: relative;
	overflow: hidden;
	span {
		z-index: 2;	
		position:relative;
		display: block;
		width: 100%;
		height: 100%;
	}
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
		opacity: 1;
		-webkit-transform: translate(-105%,0);
		transform: translate(-105%,0);
		border-right-width: 2px;
		border-right-style: solid;
		border-right-color: rgba(255, 151 ,129 , 1);
		background-color: rgba(255, 151 ,129 , 0.4);
	}
	&.btn-primary{
		&:hover{
			&:before{
				background-color: var(--primary-dark);
			}
		}
	}
	&.btn-secondary{
		&:hover{
			&:before{
				background-color: var(--secondary-hover);
			}
		}
	}
	&:hover{
		&:before{
			opacity: 0;
			-webkit-transform: translate(0,0);
			transform: translate(0,0);
		}
	}
}

// btn-hover-11
.btn-hover-11{
	@include transitionMedium;
	position: relative;
	overflow: hidden;
	span {
		z-index: 2;	
		position:relative;
		display: block;
		width: 100%;
		height: 100%;
	}
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
		opacity: 1;
		-webkit-transform: translate(-13%,-190%) rotate(-30deg);
		transform: translate(-13%,-190%) rotate(-30deg);
		border-bottom-width: 2px;
		border-bottom-style: solid;
		border-bottom-color: rgba(255, 151 ,129 , 1);
		background-color: rgba(255, 151 ,129 , 0.4);
	}
	&.btn-primary{
		&:hover{
			&:before{
				background-color: var(--primary-dark);
			}
		}
	}
	&.btn-secondary{
		&:hover{
			&:before{
				background-color: var(--secondary-hover);
			}
		}
	}
	&:hover{
		&:before{
			opacity: 0;
			-webkit-transform: translate(0,0);
			transform: translate(0,0);
		}
	}
}

// btn-hover-12
.btn-hover-12{
	@include transitionMedium;
	position: relative;
	overflow: hidden;
	
	span {
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}
	&:hover{
		span {
			letter-spacing: 2px;
		}
	}
}

/* .video-btn{
	&.style-1{
		display: flex;
		align-items: center;
	    line-height: 1;
		
		.text{
			display: inline-block;
			font-weight: 500;
			font-size: 16px;
		}
		i{
			font-size: 35px;
			margin-right: 5px;
		}
		.btn-icon{
			height: 50px;
			width: 50px;
			padding: 0;
			line-height: 48px;
			display: inline-block;
			margin-right: 15px;
			
			i{
				font-size: 20px;
				margin-right: 0;
			}
			
			&.btn-lg{
				height: 60px;
				width: 60px;
				line-height: 58px;
				
				i{
					font-size: 24px;
					margin-right: 0;
				}				
				@include respond ('tab-port'){
					height: 52px;
					width: 52px;
					line-height: 50px;
				}
				@include respond ('phone-land'){
					height: 45px;
					width: 45px;
					line-height: 43px;
					margin-right: 5px;
					
					img{
						width: 20px;
					}
				}
			}
		}
	}
	&.style-2{
		height: 80px;
		width: 80px;
		border-radius: 100%;
		text-align: center;
		line-height: 80px;
		font-size: 28px;
		color: #fff;
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		
		@include respond ('phone'){
			height: 60px;
			width: 60px;
			line-height: 60px;
			font-size: 18px;
		}
		&:after{
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			content: "";
			z-index: -1;
			border-radius: 100%;
			background-color: inherit;
			animation: animationPlayBtn1;
			animation-iteration-count: infinite;
			animation-duration: 3s;
			-webkit-animation: animationPlayBtn1;
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-duration: 3s;
			transform: scale(1);
			-moz-transform: scale(1);
			-webkit-transform: scale(1);
			-ms-transform: scale(1);
			-o-transform: scale(1);
			@include transitionMedium;
		}
	}
} */

@keyframes animationPlayBtn1 {
  /*Video Popup*/
  0% {
    opacity: 0.8;
    transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    -webkit-transform: scale(0.9); }
  100% {
    transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    opacity: 0; } }

@-webkit-keyframes animationPlayBtn1{
  /*Video Popup*/
  0% {
    transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    -webkit-transform: scale(0.9); }
  100% {
    transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    opacity: 0; } }
	
	
.btn-check{
	&:checked + .btn-outline{
		&-primary{
			background-color: var(--primary);
			border-color: var(--primary);
		}
		&-secondary{
			background-color: var(--secondary);
			border-color: var(--secondary);
		}
	}
	& + .btn-outline{
		&-primary{
			&:hover{
				background-color: var(--primary);
				border-color: var(--primary);
				color: #fff;
			}
		}
		&-secondary{
			&:hover{
				background-color: var(--secondary);
				border-color: var(--secondary);
				color: #fff;
			}
		}
	}
}
.btn-skew-icon{
	display: flex;
	align-items: center;
	justify-content: center;
	
	.text{
		color: #fff;
		background: var(--secondary);
		padding: 10px 30px;
		transform: skewX(-12deg);
		display: inline-block;
		margin-right: 7px;
		
		span{
			transform: skewX(12deg);
			display: inline-block;
		}
	}
	i{
		background: #fff;
		height: 45px;
		width: 45px;
		line-height: 45px;
		text-align: center;
		font-size: 20px;
		color: #000;
		display: inline-block;
		transform: skewX(-12deg);
		
		&:before {
			transform: skewX(12deg);
			display: inline-block;
		}   
	}
	@include custommq ($max:1199px){
		.text {
			padding: 8px 22px;
		}
		i {
			height: 40px;
			width: 40px;
			line-height: 40px;
			font-size: 17px;
		}
	}
	@include respond('phone'){
		.text{
			padding: 8px 16px;
		}
	}
	&:hover{
		i{
			&:before{
				animation: upToRight 0.5s forwards;
			}
		}
	}
}