{% extends "main/base.html.twig" %}


{% block content %}

	<div class="page-content bg-white">

		<!-- Banner  -->
		<div class="dz-bnr-inr style-2" style="background-image: url('{{asset('main/images/banner/banner-2.png')}}')">
			<div class="banner-gradient"></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="dz-bnr-inr-entry">
							<h1>BMI Calculator</h1>
							<!-- Breadcrumb Row -->
							<nav aria-label="breadcrumb" class="breadcrumb-row">
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">BMI</li>
								</ul>
							</nav>
							<!-- Breadcrumb Row End -->
						</div>
					</div>
					<div class="col-lg-4">
						<div class="banner-media">
							<img src="{{asset('main/images/banner/pic3.png')}}" alt="/">
						</div>
					</div>
				</div>	
			</div>	
		</div>
		<!-- Banner End -->
		
		<!-- Body Mass Index -->
		<section class="content-inner overflow-hidden">
			<div class="container">
				<div class="row  m-b20">
					<div class="col-lg-8">
						<div class="calculator-form wow fadeInUp" data-wow-delay="0.4s">
							<div class="section-head style-2 m-0">
								<h2 class="title text-white m-0">What is BMI</h2>
								<p class="text-white w-100">Lorem Ipsum available, but the majority have suffered alteration in some form, injected humour, or randomised words which don't look even slightly believable.</p>
							</div>
							<form class="dzForm" id="BmiCalculator" method="POST" action="assets/script/contact_smtp.php">
								<input type="hidden" class="form-control" name="dzToDo" value="Contact">
								<div class="row">
									<div class="col-sm-6">
										<label class="form-label text-primary">Height</label>
										<div class="input-group input-line">
											<input name="dzHeight" id="height" class="form-control">
										</div>
									</div>
									<div class="col-sm-6">
										<label class="form-label text-primary">Weight / Kg</label>
										<div class="input-group input-line">
											<input name="weight" id="weight" class="form-control" >
										</div>
									</div>
									<div class="col-sm-6">
										<label class="form-label text-primary">Age</label>
										<div class="input-group input-line">
											<input name="Age" id="age" class="form-control">
										</div>
									</div>
									<div class="col-sm-6">
										<label class="form-label text-primary">Gender</label>
										<div class="input-group input-line">
											<select class="default-select style-1" id="gender">
												<option value="male" selected>Male</option>
												<option value="female">Female</option>
												<option value="other">Other</option>
											</select>
										</div>
									</div>
									<div class="col-sm-12 m-b20">
										<label class="form-label text-primary">Select An Activity Factor:</label>
										<div class="input-group input-line">
											<input name="activity" id="activity" class="form-control">
										</div>
									</div>
									<div class="col-sm-12">
										<button name="submit" type="submit" value="Submit" class="btn btn-primary btn-skew m-b30 m-sm-b15"><span class="skew-inner"><span class="text">Calculate Now</span></span></button>
									</div>
									<div class="col-sm-12">
										<div class="dzFormBmi"></div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="col-lg-4 m-md-t40">
						<div class="calculate-table wow fadeInUp" data-wow-delay="0.6s">
							<table>
								<thead>
									<tr>
										<th>BMI</th>
										<th>Weight Status</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Below 18.5</td>
										<td>Underweight</td>
									</tr>
									<tr>
										<td>18.5 - 24.9</td>
										<td>Healthy</td>
									</tr>
									<tr>
										<td>25.0 - 29.9</td>
										<td>Overweight</td>
									</tr>
									<tr>
										<td>30.0 - and Above</td>
										<td>Obese</td>
									</tr>
								</tbody>
							</table>
							<div class="weight-info">
								<span><b>BMR</b> Metabolic Rate / <b>BMI</b> Body Mass Index </span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Body Mass Index -->

        		<section class="call-action style-2 bg-img-fix bg-primary">
			<div class="container">
				<div class="inner-content">
					<div class="row justify-content-between align-items-center">
						<div class="text-center text-lg-start col-xl-6 m-lg-b20 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
							<h2 class="title m-0"><span class="font-weight-400">Subscribe To Our </span>Newsletter</h2>
						</div>
						<div class="text-center text-lg-end col-xl-6 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
							<form class="dzSubscribe" action="assets/script/mailchamp.php" method="post">
								<div class="dzSubscribeMsg"></div>
								<div class="form-group">
									<div class="input-group mb-0"> 
										<div class="input-skew">
											<input name="dzEmail" required="required" type="email" class="form-control" placeholder="Your Email Address">
										</div>
										<div class="input-group-addon">
											<button name="submit" value="Submit" type="submit" class="btn btn-secondary btn-lg btn-skew h-100"><span class="skew-inner"><span class="text">Subscribe Now</span></span></button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Call To Action -->
  </div>


{% endblock %}
