{% extends "main/base.html.twig" %}

{% block content %}
    <!DOCTYPE html>
    <html>
      <head>
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
        <style>
          #calendar {
            width: 80%;
            margin: 0 auto;
            margin-top: 129px;
          }
          .fc-event-notification {
            background-color: yellow;
          }
        </style>
        <script>
          document.addEventListener('DOMContentLoaded', function() {
            const calendarEl = document.getElementById('calendar');
            const calendar = new FullCalendar.Calendar(calendarEl, {
              initialView: 'dayGridMonth',
             events: [
    {% for objectif in objectifs %}
        {
            title: 'Notification',
            start: '{{ objectif.datef|date("Y-m-d") }}',
            className: 'fc-event-notification'
        },
    {% endfor %}
]
            });
            calendar.render();
          });
        </script>
      </head>
      <body>
        <div class="schedule-table style-1">
          <div id='calendar'></div>
        </div>
      </body>
    </html>
{% endblock %}