{% block body %}

<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#d0d0d0" style="padding: 0; margin: 0;">
  <!-- START OF TOP BAR-->
  <tr>
    <td class="full_width" align="center" width="100%" bgcolor="#d0d0d0" style=""><div class="div_scale" style="width:600px;">
        <table class="table_scale" width="600" HEIGHT="42" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#494949" style="padding:0; margin: 0;">
          <tr>
            <td class="spacer" width="20" align="left" valign="top" bgcolor="#494949" style="margin: 0 !important; padding: 0 !important; line-height: 0 !important;">&nbsp;</td>
            <!-- START OF SUBJECT LINE-->
            <td class="subject_line" align="left" valign="middle" width="270" bgcolor="#494949" style="padding-top: 10px; padding-bottom: 10px;"><table width="100%">
                <tr>
                  <td class="center" align="" valign="" style="font-family:Arial, sans-serif; font-style: italic; color:#d8d8d8; font-size:11px; line-height:18px;"> Gym Plus</td>
                </tr>
              </table></td>
            <!-- END OF SUBJECT LINE-->
            <td class="spacer" width="20" align="left" valign="top" bgcolor="#494949" style="margin: 0 !important; padding: 0 !important; line-height: 0 !important;">&nbsp;</td>
            <!-- START OF CONTACT-->
            <td class="contact" align="right" valign="middle" width="270" bgcolor="#494949" style="padding: 0px;"><table width="100%">
               
              </table></td>
            <!-- END OF CONTACT-->
            <td class="spacer" width="20" align="left" valign="top" bgcolor="#494949" style="margin: 0 !important; padding: 0 !important; line-height: 0 !important;">&nbsp;</td>
          </tr>
        </table>
      </div></td>
  </tr>
  <!-- END OF TOP BAR-->
  <!-- START OF VERTIXAL SPACER BLOCK-->
  <tr>
    <td class="full_width" align="center" width="100%" bgcolor="#d0d0d0" style=""><div class="div_scale" style="width:600px;">
        <table class="table_scale" width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#d0d0d0" style="padding:0; margin: 0;">
          <tr>
            <td class="td_scale" width="600" height="40" bgcolor="#d0d0d0" align="center" valign="middle" style="height: 40px; padding: 0px; font-size:0 ; color:#686868; font-family: Arial,sans-serif; line-height: 0; ">&nbsp;</td>
          </tr>
        </table>
      </div></td>
  </tr>
  <!-- END OF VERTIXAL SPACER BLOCK-->
  <!-- START OF FEATURED AREA BLOCK-->
  <tr>
    <td class="full_width" align="center" width="100%" bgcolor="#d0d0d0" style=""><div class="div_scale" style="width:600px;">
        <table class="table_scale" width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#f0f0f0" style="padding:0; margin: 0;">
          <tr>
            <!-- START OF LEFT COLUMN-->
            <td class="td_scale" width="600" bgcolor="#fd4326" align="center" valign="top" style="padding: 0px; font-size:14px ; color:#959595; font-family: Arial,sans-serif; line-height: 24px; "><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#fd4326" style="margin: 0;">
                <!-- START OF BANNER-->
                <tr>
                  <td class="center" align="center" valign="top" bgcolor="#fd4326" style="padding:0; font-size: 16px; line-height: 24px; font-family:Lucida Sans Unicode; color:#262626; margin: 0 !important;"><a href="#" style="font-style: normal;"> <img class="img_scale" src="{{ asset('main/images/gallery/grid1/gymfFloor.jpg') }}" width="600" height="240" alt="featured banner" border="0" style="display: block;" /> </a></td>
                </tr>
                <!-- END OF BANNER-->
                <!-- START OF VERTICAL SPACER-->
                <tr>
                  <td height="20" bgcolor="#f0f0f0" style="padding:0; line-height: 0;">&nbsp;</td>
                </tr>
                <!-- END OF VERTICAL SPACER-->
                <!-- START OF HEADING TITLE-->
                <tr>
                  <td class="center" align="center" valign="top" bgcolor="#f0f0f0" style="padding: 0px 20px;  text-shadow: 1px 1px 0px #ffffff;font-size:24px ; color:#444444; font-family: Lucida Sans Unicode; line-height: 34px; ">Welcome To  Gym Plus Dear Client </td>
                </tr>
                <!-- END OF HEADING TITLE-->
                <!-- START OF VERTICAL SPACER-->
                <tr>
                  <td height="10" bgcolor="#f0f0f0" style="padding:0; line-height: 0;">&nbsp;</td>
                </tr>
                <!-- END OF VERTICAL SPACER-->
                <!-- START OF TEXT-->
                <tr>
                  <td class="center" align="center" valign="top" bgcolor="#f0f0f0" style="padding: 0px 20px;  text-shadow: 1px 1px 0px #ffffff;font-size:13px ; color:#727272; font-family: Arial,sans-serif; line-height: 23px; ">  We are happy to notify you that you plan is ready for you and you can start it . <a href="#" style="color:#fd4326; font-weight: bold; text-decoration: none; font-style: normal;"></a></td>
                </tr>
                <!-- END OF TEXT-->
                <!-- START OF VERTICAL SPACER-->
                <tr>
                  <td height="20" bgcolor="#f0f0f0" style="padding:0; line-height: 0;">&nbsp;</td>
                </tr>
                <!-- END OF VERTICAL SPACER-->
              </table></td>         
      <!-- JUST A VERTICAL SPACER-->
      <div class="div_scale" style="width:600px; display: block; border-bottom: 1px solid #d0d0d0;">
        <table class="table_scale" width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#f9f9f9" style="padding:0; margin: 0;">
          <tr>
            <td class="td_scale" width="600" height="20" bgcolor="#f9f9f9" align="center" valign="middle" style="height: 20px; padding: 0px; font-size:0 ; color:#686868; font-family: Arial,sans-serif; line-height: 0; ">&nbsp;</td>
          </tr>
        </table>
      </div>
      <!-- END OF JUST A VERTICAL SPACER-->
      <!-- JUST A VERTICAL SPACER-->
      <div class="div_scale" style="width:600px; display: block; ">
        <table class="table_scale" width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#f0f0f0" style="padding:0; margin: 0;">
          <tr>
            <td class="td_scale" width="600" height="40" bgcolor="#f0f0f0" align="center" valign="middle" style="height: 40px; padding: 0px; font-size:0 ; color:#686868; font-family: Arial,sans-serif; line-height: 0; ">&nbsp;</td>
          </tr>
        </table>
      </div>
      <!-- END OF JUST A VERTICAL SPACER--></td>
  </tr>
  <!-- END OF 3 COL FEATURED PRODUCT OR GALLERY-->
  <!-- START OF 1/2 COL WITH IMAGE ON TOP-->
  <tr>
    <td class="full_width" align="center" width="100%" bgcolor="#d0d0d0" style=""><div class="div_scale" style="width:600px;">
        <table class="table_scale" width="" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#f0f0f0" style="padding:0; margin: 0;">
          <tr>
            <td class="spacer" width="20" align="left" valign="top" bgcolor="#f0f0f0" style="margin: 0 !important; padding: 0 !important; line-height: 0 !important;">&nbsp;</td>
            <!-- START OF LEFT COLUMN-->
            <td class="one_half" align="left" valign="top" width="270" bgcolor="#f0f0f0" style=""><table width="100%">
                <!-- START OF IMAGE-->
                <tr>
                  <td valign="top" style="padding: 0px; font-size:13px ; color:#727272; font-family: Arial,sans-serif; line-height: 23px; "><a href='cid:Diet.jpg' style="font-style: normal;"> <img class="img_scale" src='cid:Diet.jpg'  alt="Image Description" width="270" height="180" alt="image" border="0" style="display: block;" /> </a></td>
                </tr>
                <!-- END OF IMAGE-->
                <tr>
                  <td height="12" bgcolor="#f0f0f0" style="padding:0; line-height: 0;">&nbsp;</td>
                </tr>
                <!-- START OF HEADING-->
                <tr>
                  <td valign="top" align="center" style="padding: 0px; text-shadow: 1px 1px 0px #ffffff;font-size:16px ; color:#262626; font-family: Lucida Sans Unicode; line-height: 26px; "><a href="#" style="font-weight: normal; color:#262626; text-decoration: none;"> Here is your Diet</a></td>
                </tr>
                <!-- END OF HEADING-->
                <tr>
                  <td height="10" bgcolor="#f0f0f0" style="padding:0; line-height: 0;">&nbsp;</td>
                </tr>
                <!-- START OF TEXT-->
                <tr>
                  <td valign="top" align="center" style="padding: 0px; text-shadow: 1px 1px 0px #ffffff;font-size:13px ; color:#727272; font-family: Arial,sans-serif; line-height: 23px; "> Eating a healthy diet is essential for maintaining overall well-being and promoting optimal physical and mental health. Healthy food provides the body with the necessary nutrients, vitamins, and minerals it needs to function effectively A well-balanced diet typically includes a variety of whole grains.</td>
                </tr>
                <!-- END OF TEXT-->
                <tr>
                  <td height="20" bgcolor="#f0f0f0" style="padding:0; line-height: 0;">&nbsp;</td>
                </tr>
                <!-- START OF BUTTON-->
                <tr>
                  <td align="center" width="" valign="top" style=" padding: 0px; font-size:14px ; color:#ffffff; font-family: Arial,sans-serif; line-height: 24px;"><table border="0" width="" align="center" cellpadding="0" cellspacing="0" bgcolor="#fd4326" style="margin: 0;">
                      
                    </table></td>
                </tr>
                <!-- END OF BUTTON-->
              </table></td>
            <!-- END OF LEFT COLUMN-->
            <td class="spacer" width="20" align="left" valign="top" bgcolor="#f0f0f0" style="margin: 0 !important; padding: 0 !important; line-height: 0 !important;">&nbsp;</td>
            <!-- START OF RIGHT COLUMN-->
            <td class="one_half_last" align="left" valign="top" width="270" bgcolor="#f0f0f0" style=""><table width="100%">
                <!-- START OF IMAGE-->
                <tr>
                  <td align="center" valign="top" style="padding: 0px; font-size:13px ; color:#727272; font-family: Arial,sans-serif; line-height: 23px; "><a href="cid:Exercices.jpg" style="font-style: normal;"> <img class="img_scale" src='cid:Exercices.jpg' width="270" height="180" alt="image" border="0" style="display: block;" /> </a></td>
                </tr>
                <!-- END OF IMAGE-->
                <tr>
                  <td height="12" bgcolor="#f0f0f0" style="padding:0; line-height: 0;">&nbsp;</td>
                </tr>
                <!-- START OF HEADING-->
                <tr>
                  <td align="center" valign="top" style="padding: 0px; text-shadow: 1px 1px 0px #ffffff;font-size:16px ; color:#262626; font-family: Lucida Sans Unicode; line-height: 26px; "><a href="#" style="font-weight: normal; color:#262626; text-decoration: none;"> Here are your Exercices </a></td>
                </tr>
                <!-- END OF HEADING-->
                <tr>
                  <td height="10" bgcolor="#f0f0f0" style="padding:0; line-height: 0;">&nbsp;</td>
                </tr>
                <!-- START OF TEXT-->
                <tr>
                  <td align="center" valign="top" style="padding: 0px; text-shadow: 1px 1px 0px #ffffff;font-size:13px ; color:#727272; font-family: Arial,sans-serif; line-height: 23px; "> Training regularly and consistently is essential for maintaining good physical fitness and overall well-being. Engaging in regular exercise not only helps to build strength, endurance, and flexibility but also provides a multitude of benefits for both the body and mind.</td>
                </tr>
                <!-- END OF TEXT-->
                <tr>
                  <td height="20" bgcolor="#f0f0f0" style="padding:0; line-height: 0;">&nbsp;</td>
                </tr>
                <!-- START OF BUTTON-->
                <tr>
                  <td align="center" width="" valign="top" style=" padding: 0px; font-size:14px ; color:#ffffff; font-family: Arial,sans-serif; line-height: 24px;"><table border="0" width="" align="center" cellpadding="0" cellspacing="0" bgcolor="#fd4326" style="margin: 0;">
                    
                    </table></td>
                </tr>
                <!-- END OF BUTTON-->
              </table></td>
            <!-- END OF RIGHT COLUMN-->
            <td class="spacer" width="20" align="left" valign="top" bgcolor="#f0f0f0" style="margin: 0 !important; padding: 0 !important; line-height: 0 !important;">&nbsp;</td>
          </tr>
        </table>
      </div>
      <!-- JUST A VERTICAL SPACER-->
      <div class="div_scale" style="width:600px; display: block; ">
        <table class="table_scale" width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#f0f0f0" style="padding:0; margin: 0;">
          <tr>
            <td class="td_scale" width="600" height="40" bgcolor="#f0f0f0" align="center" valign="middle" style="height: 40px; padding: 0px; font-size:0 ; color:#686868; font-family: Arial,sans-serif; line-height: 0; ">&nbsp;</td>
          </tr>
        </table>
      </div>
      <!-- END OF JUST A VERTICAL SPACER--></td>
  </tr>
  <!-- END OF 1/2 COL WITH IMAGE ON TOP-->
  <!-- START OF DIVIDER-->
  <tr>
    <td class="full_width" align="center" width="100%" bgcolor="#d0d0d0" style=""><div class="div_scale" style="width:600px;">
        <table class="table_scale" width="" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#f0f0f0" style="padding:0; margin: 0;">
          <tr>
            <td class="divider" align="center" valign="top" width="600" bgcolor="#f0f0f0" style=""><table width="100%">
                <tr>
                  <td align="center" width="" valign="middle" style=" padding: 0px; font-size:14px ; color:#f0f0f0; font-family: Arial,sans-serif; line-height: 24px;"><img class="divider" src="images/divider.png" width="600" height="2" alt="image" border="0" style="display: block;" /></td>
                </tr>
              </table></td>
          </tr>
        </table>
      </div>
      <!-- JUST A VERTICAL SPACER-->
      <div class="div_scale" style="width:600px; display: block; ">
        <table class="table_scale" width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#f0f0f0" style="padding:0; margin: 0;">
          <tr>
            <td class="td_scale" width="600" height="40" bgcolor="#f0f0f0" align="center" valign="middle" style="height: 40px; padding: 0px; font-size:0 ; color:#686868; font-family: Arial,sans-serif; line-height: 0; ">&nbsp;</td>
          </tr>
        </table>
      </div>
      <!-- END OF JUST A VERTICAL SPACER--></td>
  </tr>
  <!-- END OF DIVIDER-->
  
  <!-- START OF FOOTER-->
  <tr>
    <td class="full_width" align="center" width="100%" bgcolor="#d0d0d0" style=""><div class="div_scale" style="width:600px;">
        <table class="table_scale" width="" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#353535" style="padding:0; margin: 0;">
          <tr>
            <td class="" align="center" valign="top" width="600" bgcolor="#353535" style=""><table align="center" width="100%">
                  <!-- START OF TEXT-->
                <tr>
                  <td align="center" valign="top" style="border-top: 1px solid #2b2b2b; padding: 40px 20px; font-size:13px ; color:#bbbbbb; font-family: Arial,sans-serif; line-height: 23px; ">  Beyond the physical benefits, training has a positive impact on mental health as well. <br />
                    <span style="color:#ffffff;"> <a href="https://www.mercadolivre.com.br/" style="color:#ffffff; font-style: normal; text-decoration: none; "> Health </a> &nbsp;|&nbsp;<a href="https://perfil.mercadolivre.com.br/AURORA+STORE" style="color:#ffffff; font-style: normal; text-decoration: none;"> Good Shape </a> &nbsp;|&nbsp;<a href="https://www.mercadopago.com.br/" style="color:#ffffff; font-style: normal; text-decoration: none;"> Good Food </a> &nbsp;&nbsp;<a href="#" style="color:#ffffff; font-style: normal; text-decoration: none; ">  </a> </span></td>
                </tr>
                <!-- END OF TEXT-->
                <!-- START OF LOGO-->
                <tr>
                  <td align="center" valign="top" style="border-top: 1px solid #484848; padding: 20px; font-size:13px ; color:#bbbbbb; font-family: Arial,sans-serif; line-height: 23px; "><a href="#" style="font-style: normal;"> <img src="{{ asset('main/images/gallery/grid1/GymplusLogo.png') }}" width="89" height="60" alt="logo" border="0" style="display: inline-block;" /> </a></td>
                </tr>
                <!-- END OF LOGO-->
              </table></td>
          </tr>
        </table>
      </div></td>
  </tr>
  <!-- END OF FOOTER-->
  <!-- START OF VERTIXAL SPACER BLOCK-->
  <tr>
    <td class="full_width" align="center" width="100%" bgcolor="#d0d0d0" style=""><div class="div_scale" style="width:600px;">
        <table class="table_scale" width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#d0d0d0" style="padding:0; margin: 0;">
          <tr>
            <td class="td_scale" width="600" height="40" bgcolor="#d0d0d0" align="center" valign="middle" style="height: 40px; padding: 0px; font-size:0 ; color:#686868; font-family: Arial,sans-serif; line-height: 0; ">&nbsp;</td>
          </tr>
        </table>
      </div></td>
  </tr>
  <!-- END OF VERTIXAL SPACER BLOCK-->
</table>

{% endblock %}
