{% extends "main/base.html.twig" %}
{% block content%}
	<div class="page-content bg-white">

		<section class="p-0 overflow-hidden">
			<div class="row">
				<div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 p-a0">
					<div class="swiper login-slider">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="banner-login" style="background-image: url(assets/images/about/image-box/pic1.jpg)">
									<div class="banner-content">
										<h2 class="title wow fadeInUp" data-wow-delay="0.4s">The Powerhouse Team Behind Your Transformation!</h2>
										<p class="text wow fadeInUp" data-wow-delay="0.6s">Nunc vulputate urna ut erat posuere accumsan. Curabitur ut commodo mauris, ac volutpat dui. Nullam eget enim ut mi bibendum ultrices. Pellentesque non feugiat nisi.</p>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="banner-login" style="background-image: url(assets/images/about/image-box/pic2.jpg)">
									<div class="banner-content">
										<h2 class="title wow fadeInUp" data-wow-delay="0.4s">The Powerhouse Team Behind Your Transformation!</h2>
										<p class="text wow fadeInUp" data-wow-delay="0.6s">Nunc vulputate urna ut erat posuere accumsan. Curabitur ut commodo mauris, ac volutpat dui. Nullam eget enim ut mi bibendum ultrices. Pellentesque non feugiat nisi.</p>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="banner-login" style="background-image: url(assets/images/about/image-box/pic3.jpg)">
									<div class="banner-content">
										<h2 class="title wow fadeInUp" data-wow-delay="0.4s">The Powerhouse Team Behind Your Transformation!</h2>
										<p class="text wow fadeInUp" data-wow-delay="0.6s">Nunc vulputate urna ut erat posuere accumsan. Curabitur ut commodo mauris, ac volutpat dui. Nullam eget enim ut mi bibendum ultrices. Pellentesque non feugiat nisi.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="container">
							<div class="num-pagination wow fadeInUp" data-wow-delay="0.8s">
								<div class="swiper-pagination main-pagination style-2"></div>
							</div>
						</div>
						<div class="main-btn wow fadeInUp" data-wow-delay="1.0s">
							<div class="main-btn-prev btn-prev"><i class="fa-solid fa-arrow-left"></i></div>
							<div class="main-btn-next btn-next"><i class="fa-solid fa-arrow-right"></i></div>
						</div>
					</div>
				</div>
				<div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 end-side-content">
					<div class="login-area sticky-top wow fadeInUp" data-wow-delay="0.4s">
						<h2 class="title">Welcome Back</h2>
						<p class="text-white text-center m-b25">Please login to your account</p>
						<div class="tab-content nav">
							<form id="login" class="tab-pane active col-12">
								<div class="m-b30">
									<label class="label-title">Email Address</label>
									<input name="dzName" required="" class="form-control" placeholder="Email Address" type="email">
								</div>
								<div class="m-b10">
									<label class="label-title">Password</label>
									<div class="secure-input ">
										<input type="password" name="password" class="form-control dz-password" placeholder="Password">
										<div class="show-pass">
											<i class="eye-open fa-regular fa-eye"></i>
										</div>
									</div>
								</div>
								<div class="text-left d-flex align-items justify-content-between m-b30">
									<a data-bs-toggle="tab" href="#forgot-password" class="m-l5">Forgot Password</a> 
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="form-check-input" id="basic_checkbox_1">
										<label class="form-check-label" for="basic_checkbox_1">Remember Me</label>
									</div>
								</div>
								<div class="text-center">
									<button type="Submit" class="btn btn-primary m-b15 w-100">Submit</button>
									<a href="javascript:void(0);" class="btn-link">Don’t have account?<span> Sign Up</span></a> 
								</div>
							</form>
							
							<form id="forgot-password" class="tab-pane fade  col-12 text-center">
								<h4 class="m-b5 text-white">Forget Password ?</h4>
								<small class="font-weight-600 m-b20 d-block text-white">We will send you an email to reset your password. </small>
								<div class="mb-3">
									<label class="label-title">E-MAIL *</label>
									<input name="dzName" required="" class="form-control" placeholder="Your Email Id" type="email">
								</div>
								<div class="text-center"> 
									<a class="btn btn-light m-r10 rounded-0" data-bs-toggle="tab" href="#login">Back</a>
									<button class="btn btn-primary rounded-0">Submit</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		
	</div>
{% endblock %}