
{% extends "main/base.html.twig" %}


{% block content %}

   <div class="page-content bg-white">		
		<!--banner-->
			<div class="contact-bnr"  style="background-image: url({{asset('main/images/background/bg9.png')}});">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">

							{{ mukadi_chart(chart) }}
					    </div>

				    </div>
				</div>
			</div>

















					

</div>
{% endblock %}


{% block js %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.1/chart.umd.min.js"></script>
    <script src="/bundles/mukadichartjs/mukadi.chart.min.js"></script>
{% endblock %}