
	
	<div class="page-content bg-white">
	
		<!-- Banner  -->
		<div class="dz-bnr-inr style-2" style="background-image: url('assets/images/banner/banner-2.png')">
			<div class="banner-gradient"></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="dz-bnr-inr-entry">
							<h1>Slider</h1>
							<!-- Breadcrumb Row -->
							<nav aria-label="breadcrumb" class="breadcrumb-row">
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Slider</li>
								</ul>
							</nav>
							<!-- Breadcrumb Row End -->
						</div>
					</div>
				</div>	
				<div class="banner-media">
					<img src="assets/images/banner/pic3.png" alt="/">
				</div>
			</div>	
		</div>
		<!-- Banner End -->

		<!-- Slider Style 1 -->
		<section class="content-inner overflow-hidden">
			<div class="container">
				<div class="text-center m-b30">
					<h3 class="title m-b30">Slider Style 1</h3>
				</div>
				<div class="swiper team-slider style-2 m-b30">
					<div class="swiper-wrapper">
						<div class="swiper-slide wow fadeInUp" data-wow-delay="0.4s">
							<div class="dz-team style-1">
								<div class="dz-media">
									<a href="team.html"><img src="assets/images/team/team-1.png" alt=""></a>
									<ul class="team-social">
										<li><a href="https://www.facebook.com/" class="fab fa-facebook-f"></a></li>
										<li><a href="https://www.instagram.com/" class="fab fa-instagram"></a></li>
										<li><a href="https://twitter.com/?lang=en" class="fab fa-twitter"></a></li>
									</ul>
								</div>
								<div class="dz-content ">
									<h4 class="dz-name">EMILY WANG</h4>
									<span class="dz-position">Yoga trainer</span>
								</div>
							</div>
						</div>	
						<div class="swiper-slide wow fadeInUp" data-wow-delay="0.6s">
							<div class="dz-team style-1">
								<div class="dz-media">
									<a href="team.html"><img src="assets/images/team/team-2.png" alt=""></a>
									<ul class="team-social">
										<li><a href="https://www.facebook.com/" class="fab fa-facebook-f"></a></li>
										<li><a href="https://www.instagram.com/" class="fab fa-instagram"></a></li>
										<li><a href="https://twitter.com/?lang=en" class="fab fa-twitter"></a></li>
									</ul>
								</div>
								<div class="dz-content ">
									<h4 class="dz-name">EMILY WANG</h4>
									<span class="dz-position">Yoga trainer</span>
								</div>
							</div>
						</div>	
						<div class="swiper-slide wow fadeInUp" data-wow-delay="0.8s">
							<div class="dz-team style-1">
								<div class="dz-media">
									<a href="team.html"><img src="assets/images/team/team-3.png" alt=""></a>
									<ul class="team-social">
										<li><a href="https://www.facebook.com/" class="fab fa-facebook-f"></a></li>
										<li><a href="https://www.instagram.com/" class="fab fa-instagram"></a></li>
										<li><a href="https://twitter.com/?lang=en" class="fab fa-twitter"></a></li>
									</ul>
								</div>
								<div class="dz-content ">
									<h4 class="dz-name">EMILY WANG</h4>
									<span class="dz-position">Yoga trainer</span>
								</div>
							</div>
						</div>	
					</div>
				</div>
				<div class="num-pagination justify-content-center">
					<div class="team-slider-prev btn-prev"><i class="fa-solid fa-arrow-left"></i></div>
					<div class="swiper-pagination team-slider-pagination style-2"></div>
					<div class="team-slider-next btn-next"><i class="fa-solid fa-arrow-right"></i></div>
				</div>
			</div>
		</section>
		<!-- Dividers Style 1 -->
		
		<!-- Slider Style 2 -->
		<section class="content-inner overflow-hidden">
			<div class="container">
				<div class="text-center m-b50">
					<h3 class="title m-b30">Slider Style 2</h3>
				</div>
			</div>
			<div class="portfolio-wrapper-inner">
				<div class="swiper portfolio-slider-1 dz-features-wrapper overflow-hidden">
					<div class="swiper-wrapper dz-features">
						<div class="swiper-slide">	
							<div class="dz-box style-1">
								<div class="dz-media">
									<a href="team.html"><img src="assets/images/gallery/grid2/pic1.jpg" alt=""></a>
								</div>
								<div class="dz-content">
									<span class="dz-position">Cardio</span>
									<h4 class="dz-name">Andrio</h4>
								</div>
							</div>
							<div class="dz-box style-1">
								<div class="dz-media">
									<a href="team.html"><img src="assets/images/gallery/grid2/pic2.jpg" alt=""></a>
								</div>
								<div class="dz-content">
									<span class="dz-position">Fitness Trainer</span>
									<h4 class="dz-name">DESERT</h4>
								</div>
							</div>
						</div>
						<div class="swiper-slide">	
							<div class="dz-box style-1">
								<div class="dz-media">
									<a href="team.html"><img src="assets/images/gallery/grid2/pic3.jpg" alt=""></a>
								</div>
								<div class="dz-content">
									<span class="dz-position">BEAUTY TRAINER</span>
									<h4 class="dz-name">CHARLES</h4>
								</div>
							</div>
							<div class="dz-box style-1">
								<div class="dz-media">
									<a href="team.html"><img src="assets/images/gallery/grid2/pic4.jpg" alt=""></a>
								</div>
								<div class="dz-content">
									<span class="dz-position">CROSSFIT COACH</span>
									<h4 class="dz-name">OLIVER</h4>
								</div>
							</div>
						</div>							
						<div class="swiper-slide">	
							<div class="dz-box style-1">
								<div class="dz-media">
									<a href="team.html"><img src="assets/images/gallery/grid2/pic5.jpg" alt=""></a>
								</div>
								<div class="dz-content">
									<span class="dz-position">YOGA TRAINER</span>
									<h4 class="dz-name">ELIJAH</h4>
								</div>
							</div>
							<div class="dz-box style-1">
								<div class="dz-media">
									<a href="team.html"><img src="assets/images/gallery/grid2/pic6.jpg" alt=""></a>
								</div>
								<div class="dz-content">
									<span class="dz-position">DUMBBELL TRAINER</span>
									<h4 class="dz-name">JAMES</h4>
								</div>
							</div>
						</div>	
						<div class="swiper-slide">	
							<div class="dz-box style-1">
								<div class="dz-media">
									<a href="team.html"><img src="assets/images/gallery/grid2/pic7.jpg" alt=""></a>
								</div>
								<div class="dz-content">
									<span class="dz-position">BOXING TRAINER</span>
									<h4 class="dz-name">AMELIA</h4>
								</div>
							</div>
							<div class="dz-box style-1">
								<div class="dz-media">
									<a href="team.html"><img src="assets/images/gallery/grid2/pic1.jpg" alt=""></a>
								</div>
								<div class="dz-content">
									<span class="dz-position">Fitness Trainer</span>
									<h4 class="dz-name">DESERT</h4>
								</div>
							</div>
						</div>	
						<div class="swiper-slide">	
							<div class="dz-box style-1">
								<div class="dz-media">
									<a href="team.html"><img src="assets/images/gallery/grid2/pic2.jpg" alt=""></a>
								</div>
								<div class="dz-content">
									<span class="dz-position">BEAUTY TRAINER</span>
									<h4 class="dz-name">CHARLES</h4>
								</div>
							</div>
							<div class="dz-box style-1">
								<div class="dz-media">
									<a href="team.html"><img src="assets/images/gallery/grid2/pic3.jpg" alt=""></a>
								</div>
								<div class="dz-content">
									<span class="dz-position">CROSSFIT COACH</span>
									<h4 class="dz-name">OLIVER</h4>
								</div>
							</div>
						</div>	
						<div class="swiper-slide">	
							<div class="dz-box style-1">
								<div class="dz-media">
									<a href="team.html"><img src="assets/images/gallery/grid2/pic4.jpg" alt=""></a>
								</div>
								<div class="dz-content">
									<span class="dz-position">YOGA TRAINER</span>
									<h4 class="dz-name">ELIJAH</h4>
								</div>
							</div>
							<div class="dz-box style-1">
								<div class="dz-media">
									<a href="team.html"><img src="assets/images/gallery/grid2/pic5.jpg" alt=""></a>
								</div>
								<div class="dz-content">
									<span class="dz-position">DUMBBELL TRAINER</span>
									<h4 class="dz-name">JAMES</h4>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</section>
		<!-- Slider Style 2 -->
		
		<!-- Slider Style 3 -->
		<section class="content-inner overflow-hidden ">
			<div class="container">
				<div class="text-center m-b30">
					<h3 class="title m-b30">Slider Style 3</h3>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-6 col-md-12">
						<div class="trainer-wrapper-inner">
							<div class="swiper trainer-slider">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="trainer-box "> 
											<div class="dz-media split-box">
												<img src="assets/images/about/pic10.png" alt="">
											</div>
											<div class="dz-content">
												<span class="dz-position">Gym Trainer</span>
												<h4 class="dz-workout">Cardio Workout</h4>
											</div>							
										</div>
									</div>
									<div class="swiper-slide">
										<div class="trainer-box "> 
											<div class="dz-media split-box">
												<img src="assets/images/about/pic11.png" alt="">
											</div>
											<div class="dz-content">
												<span class="dz-position">Senior Trainer</span>
												<h4 class="dz-workout">Yoga Workout</h4>
											</div>							
										</div>
									</div>
								</div>
								<div class="swiper-btn">
									<div class="main-btn-prev btn-prev box-hover active"><i class="fa-solid fa-chevron-left"></i></div>
									<div class="main-btn-next btn-next box-hover"><i class="fa-solid fa-chevron-right"></i></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Dividers Style 3 -->
		
		<!-- Slider Style 4 -->
		<section class="content-inner portfolio-wrapper">
			<div class="text-center m-b30 ">
				<h3 class="title m-b30">Slider Style 4</h3>
			</div>
			<div class="portfolio-wrapper-inner">
				<div class="swiper portfolio-slider">
					<div class="swiper-wrapper" id="lightgallery">
						<div class="swiper-slide">
							<div class="dz-box style-3 overlay-shine wow fadeInUp" data-wow-delay="1.2s">
								<a href="assets/images/gallery/grid1/pic1.jpg" data-src="assets/images/gallery/grid1/pic1.jpg" class="dz-media lg-item">
									<img src="assets/images/gallery/grid1/pic1.jpg"  alt="/">
								</a>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="dz-box style-3 overlay-shine wow fadeInUp" data-wow-delay="1.4s">
								<a href="assets/images/gallery/grid1/pic2.jpg" data-src="assets/images/gallery/grid1/pic2.jpg" class="dz-media lg-item">
									<img src="assets/images/gallery/grid1/pic2.jpg"  alt="/">
								</a>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="dz-box style-3 overlay-shine wow fadeInUp" data-wow-delay="1.6s">
								<a href="assets/images/gallery/grid1/pic3.jpg" data-src="assets/images/gallery/grid1/pic3.jpg" class="dz-media lg-item">
									<img src="assets/images/gallery/grid1/pic3.jpg"  alt="/">
								</a>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="dz-box style-3 overlay-shine wow fadeInUp" data-wow-delay="1.7s">
								<a href="assets/images/gallery/grid1/pic4.jpg" data-src="assets/images/gallery/grid1/pic4.jpg" class="dz-media lg-item">
									<img src="assets/images/gallery/grid1/pic4.jpg"  alt="/">
								</a>
							</div>
						</div>
						
					</div>
				</div> 
			</div>
		</section>
		<!-- Dividers Style 4 -->
		
		<!-- Call To Action -->
		<section class="call-action style-2 bg-img-fix bg-primary">
			<div class="container">
				<div class="inner-content">
					<div class="row justify-content-between align-items-center">
						<div class="text-center text-lg-start col-xl-6 m-lg-b20 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
							<h2 class="title m-0"><span class="font-weight-400">Subscribe To Our </span>Newsletter</h2>
						</div>
						<div class="text-center text-lg-end col-xl-6 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
							<form class="dzSubscribe" action="assets/script/mailchamp.php" method="post">
								<div class="dzSubscribeMsg"></div>
								<div class="form-group">
									<div class="input-group mb-0"> 
										<div class="input-skew">
											<input name="dzEmail" required="required" type="email" class="form-control" placeholder="Your Email Address">
										</div>
										<div class="input-group-addon">
											<button name="submit" value="Submit" type="submit" class="btn btn-secondary btn-lg btn-skew h-100"><span class="skew-inner"><span class="text">Subscribe Now</span></span></button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Call To Action -->
		
	</div>
	